html, body {
	margin: 0%;
	background-color: white;
	overflow-x: hidden;
	overflow-y: scroll;
}

.pagenav {
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin: 3%;
}

li {
	padding-left: 12vw;
}

/*toggle-icon*/

.toggle-icon {
	padding-left: 15vw;
	display: block;
	position: relative;
	width: 100%;
	-webkit-transition: margin 600ms;
	-moz-transition: margin 600ms;
	transition: margin 600ms;
	cursor: pointer;
}

.toggle-icon .bar {
	display: block;
	width: 3.8em;
	height: 0.2em;
	margin: 0.9em;
	border-right: 2.8em solid #2d3436;
	border-left: 0.6em solid #0984e3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
	-moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
	transition-property: transform, margin, border-right-color, box-shadow;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	transition-duration: 600ms;
}

.toggle-icon .bar:nth-of-type(1) {
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	transition: opacity 300ms;
}

.toggle-icon .bar:nth-of-type(2) {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

/*pushed*/

.pushed .toggle-icon {
	margin: 0 0 0.7em;
}

.pushed .bar:nth-of-type(1) {
	opacity: 0;
}

.pushed .bar:nth-of-type(2) {
	margin-left: 1.4em;
	-webkit-transform: rotate(-137deg) translateY(-1.5em);
	-moz-transform: rotate(-137deg) translateY(-1.5em);
	-ms-transform: rotate(-137deg) translateY(-1.5em);
	-o-transform: rotate(-137deg) translateY(-1.5em);
	transform: rotate(-137deg) translateY(-1.5em);
}

.pushed .bar:nth-of-type(3) {
	margin-left: 0.5em;
	-webkit-transform: rotate(-42deg);
	-moz-transform: rotate(-42deg);
	-ms-transform: rotate(-42deg);
	-o-transform: rotate(-42deg);
	transform: rotate(-42deg);
}

.pushed .toggle-icon:hover .bar:nth-of-type(2) {
	border-right-color: #e9b8b9;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
}

.pushed .toggle-icon:hover .bar:nth-of-type(3) {
	border-right-color: #ddf1da;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
}

#nav-container {
	display: flex-start;
	padding: 2%;
}

nav ul {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	list-style-type: none;
	display: inline-flex;
	color: #2d3436;
	font-size: 3.5vh;
}

.hidden {
	display: none;
}

a:link {
	/* Applies to all unvisited links */
	text-decoration: none;
	font-weight: lighter;
	color: #2d3436;
	transition: 0.3s;
}

a:visited {
	/* Applies to all visited links */
	text-decoration: none;
	font-weight: lighter;
	color: #2d3436;
}

a:hover {
	/* Applies to links under the pointer */
	font-weight: lighter;
	color: #2d3436;
	border-bottom: 2px solid #2d3436;
	cursor: pointer;
}

a:active {
	/* Applies to activated links */
	text-decoration: none;
	font-weight: lighter;
	color: #2d3436;
}

.on {
	display: visible;
}

.contact {
	background-color: #1366e4;
	height: 60vh;
	width: 100vw;
	display: grid;
	justify-items: center;
}

h1 {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 15vh;
	display: inline-block;
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	text-shadow:2px 2px rgba(0,0,0,.4)

}

.message {
	outline: none;
	resize: none;
	width: 50vw;
	border-top: 0;
	border-bottom: 3px solid slategray;
	border-left: 0;
	border-right: 0;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 3vh;
	font-weight: bold;
	color: #2d3436;
}

::-webkit-input-placeholder {
color: #2d3436;
}
.message:focus{
	border-bottom: 3px solid #4ef8a9;
	transition: ease-in 0.4s;

}

.fa {
	display: inline-block;  
	color: inherit;
	border:1px solid;
	text-decoration: none;
	padding-top: 12px;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 20%;
	box-sizing: border-box;
	margin-left: 1em;
	background: rgba(0, 0, 0, 0);
	transition: all 0.4s;
  }
  
  .fa:hover {
	color: #05a;  
	border-color:inherit;
	background: rgba(255, 252, 252, 0.938);
  }
  
  .fa:nth-of-type(2):hover {
	color: #09c;
	border-color:inherit
  }
  
  .fa:nth-of-type(3):hover {
	color: #d19;
	border-color:inherit
	
  }
  
  .fa:nth-of-type(4):hover {
	color: #e90;
	border-color:inherit
  }
  
  .fa:nth-of-type(5):hover {
	color: #0c6;
	border-color:inherit
  }
  
.socialm {
	display: grid;
	justify-content: center;
	align-self: center;
	height: 50vh;
}

.contact-icons {
	padding-top: 25%;
	position: relative;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-12-10 16:46:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}