* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



body {
	font-family: 'Roboto', sans-serif,Baron Neue,"Helvetica Neue",Helvetica,Arial;
	font-size: 24px;

}

header {
	box-sizing: content-box;
	line-height: 3.2em;
	font-weight: 900;
	font-family: Baron Neue,"Helvetica Neue",Helvetica,Arial;
	text-transform: uppercase;
	padding: 3em 5em;
	background: #36D1DC;  
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
	margin: 0 auto;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feather';
	src:url('../fonts/feather/feather.eot?-9jv4cc');
	src:url('../fonts/feather/feather.eot?#iefix-9jv4cc') format('embedded-opentype'),
		url('../fonts/feather/feather.woff?-9jv4cc') format('woff'),
		url('../fonts/feather/feather.ttf?-9jv4cc') format('truetype'),
		url('../fonts/feather/feather.svg?-9jv4cc#feather') format('svg');
}

.ip-header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

.ip-logo,
.ip-loader {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.ip-logo {
	top: 0;
	height: 100%;
	transform: translate3d(0,25%,0);
}

.ip-loader {
	bottom: 20%;
}

.ip-header .ip-inner {
	display: block;
	margin: 0 auto;
}

.ip-header .ip-logo svg {
	min-width: 320px;
	max-width: 480px;
	width: 25%;
}

.ip-header .ip-logo svg path {
	fill: #ef6e7e;
}

.ip-header .ip-loader svg path {
	fill: none;
	stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
	stroke: #ddd;
}

.ip-header .ip-loader svg path.ip-loader-circle {
	transition: stroke-dashoffset 0.2s;
	stroke: #ef6e7e;
}

.ip-main {
	overflow: hidden;
	margin: 0 auto;
	padding: 160px 0 10em 0;
	max-width: 1100px;
	width: 90%;
}

.ip-main h2 {
	margin: 0;
	padding: 0.5em 0 1em;
	color: #be4856;
	text-align: center;
	font-size: 4.25em;
	font-size: 4vw;
	line-height: 1;
}


.browser {
	margin: 0 auto;
	padding-top: 8%;
	min-height: 400px;
	max-width: 1000px;
	width: 100%;
	border-radius: 8px;
	background: #fff url(../img/browser.png) no-repeat 50% 0;
	background-size: 100%;
	color: #d3d3d3;
}

.box {
	float: left;
	padding: 3.5em;
	width: 33.3%;
	font-size: 0.7em;
	line-height: 1.5;
}

.box p {
	font-family: 'Blokk', Arial, sans-serif;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
	display: block;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border-radius: 5px;
	background: #dfdfdf;
	color: #fff;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 5em;
	font-family: 'feather';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
	content: "\e006";
}

.icon-cog:before {
	content: "\e023";
}

.icon-heart:before {
	content: "\e024";
}

.loading .ip-logo,
.loading .ip-loader {
	opacity: 1;
	animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
	animation-delay: 0.2s;
}

@keyframes animInitialHeader {
	from { 
		opacity: 0; 
		transform: translate3d(0,800px,0); 
	}
}

.loaded .ip-logo,
.loaded .ip-loader {
	opacity: 1;
}

.loaded .ip-logo {
	transform-origin: 50% 0;
	animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animLoadedLogo {
	to { 
		transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); 
	}
}

.loaded .ip-logo svg path {
	transition: all 0.5s ease 0.3s;
	fill: #fff;
}

.loaded .ip-loader {
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animLoadedLoader {
	to { 
		opacity: 0; 
		transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); 
	}
}

.loaded .ip-header {
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@keyframes animLoadedHeader {
	to { transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
	animation-delay: 0.1s;
}

.loaded .ip-main .browser .box:nth-child(2) {
	animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
	animation-delay: 0.2s;
}

@keyframes animLoadedContent {
	from { 
		opacity: 0; 
		transform: translate3d(0,200px,0); 
	}
}
.layout-switch .ip-header {
	position: absolute;
}

.no-js .ip-header {
	position: relative;
	min-height: 0px;
}

.no-js .ip-header .ip-logo {
	margin-top: 20px;
	height: 180px;
	opacity: 1;
	transform: none;
}

.no-js .ip-header .ip-logo svg path {
	fill: #fff;
}

@media screen and (max-width: 45em) {

	.ip-main h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}

	.box {
		width: 100%%;
	}

}

.background-one {
	background-image: url('https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	min-height: 100%;
	
}


.background-two {
	background-image: url('https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	min-height: 400px;
	
}

.background-one, .background-two {
	position: relative;
	opacity: 0.7;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}

.content-one {
	text-align: center;
	padding: 7rem 8rem;
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-gap: 10px;
}


input {
	font-size: 18px;
	padding: 20px 20px 20px 10px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
	margin-top: 60px;
	outline: none;
}


label {
	color: #2f3640; 
	font-size: 30px;
	font-family: roboto;
	font-weight: bold;
	pointer-events: auto;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}
.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.5s ease;
}


.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

.menu {
	display: none;
	opacity: 1;
}

a {
	display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 1.8em;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: white;
	width: 70%;
}

a:hover {
	text-decoration: underline;
}


h1.intro1 {
	font-size: 2em;
	color: white;
	opacity: 1;
}


h1.intro2 {
	font-size: 2em;
	opacity: 1;
}

h2.work {
	font-size: 2.1em;
	font-family: Baron Neue,"Helvetica Neue",Helvetica,Arial;
	text-align: center;
	margin-bottom: 1em;
	color: black;


}

h3 {
	padding-top: 2em;
	text-align: center;
}

span#my-name {
	font-size: 2.2em;
	font-weight: bolder;
	color: white;

}

span.txt-rotate {
	font-size: 2.2em;
	font-weight: bolder;
	color: white;

}

span#influencer {
	text-decoration: line-through;
	color: rgba(237, 233, 238, 0.8);
}

.material-icons.md-48 { 
	font-size: 3em;
	width: 60%;  
	color: black;
	-moz-animation: bounce 2s infinite;
  	-webkit-animation: bounce 2s infinite;
  	animation: bounce 2s infinite;
 }

 #card-container {
 	background-color: white ;
 	width: 100%;
 	height: 100vh;
 	padding-top: 5em;


 }

.card-items {
	display: flex;
	align-items: center;
	justify-content: center;



}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  margin: 1em;
  text-align: center;
  transition: all 2s ease-in-out;
  height: auto;


}

a.card-link {
	color: black;
	font-size: 1em;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

#items {
	display: flex;
	justify-content: space-between;

}

.item-1, .item-2, .item-3  {
	/*padding: 30px;*/



}

img {
  height: 10em;
  max-width: 100%;
  vertical-align: middle;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;

}



.skills {
	width: 100%;
	height: 100vh;

}


.second-pg {
	height: 90vh;
	display: inline-flex;
	font-family: Roboto;
	padding-top: 7% ;
}	

img#me {
	width: 35%;
	height: 65%;
	padding: 2em;
	

}

.content-box {
	width: 45%;
	height: 70%;
	margin: 5px 80px;
	font-size: 1.3rem;
	word-spacing: 0.3em;
	line-height: 1.5em;
	}

#brief-intro {
	padding: 20px;
}

.third-pg {
	background-color: #4481eb;
	color: white;
	height: 100vh;
	width: 100%;
	padding: 4em;
	text-align: center;
	font-family: Baron Neue,"Helvetica Neue",Helvetica,Arial;
}

.svg {
	/*border: 2px solid black;*/
	padding: 2em;

}

.mystory {
	text-align: center;
	opacity: 1;
	font-size: 2rem;
}



 @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


