html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

.js .pages {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.js .container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.page {
    padding: 6.5em;
    background: #66c6ff;
    display: flex;
    flex-direction: column;
}

.js .page {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    visibility: hidden;
    z-index: 1;
}

.js .intro-page {
    visibility: visible;
    position: relative;
}

.revealer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
}

.revealer-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ddd;
}
.revealer-right {
    top: 50%;
    left: 50%;
}

.myname {
    color: azure;
}

.wrapper {
    font-size: 5.5vh;
	line-height: 1.25;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	max-width: 800px;
	padding: 1em;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}