html,
body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
}

.container {
    position: relative;
    height: 100vh;
}

.pages {
    position: relative;
    height: 100vh;
    width: 100vh;
}

.page {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}