html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

.js .pages {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.page {
    padding: 6.5em;
    background: #66c6ff;
    display: flex;
    flex-direction: column;
}

.js .page {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    visibility: hidden;
    z-index: 1;
}

.js .intro-page {
    visibility: hidden;
    position: relative;
}